body {
    background-color: LightCyan;
	padding: 30px 10px 20px 10px;
	max-width: 2100px;
    margin: 0 auto;
}

header, footer {
	background-color:PaleTurquoise;
    color: black;
}

label, fieldset{
    font-size: 1.1em;
}

input[type=text] {
    border: 2px solid #0d1f2d;
    width: 50%;
    padding: 8px 8px;
    margin: 12px 0;
    box-sizing: border-box;
    font-size: 1.1em;
}

fieldset {
    background-color: #fef9ff;
    width: 100%;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing:	border-box;
}

select, textarea {
    margin: 12px 0;
    font-size: 1em;
}

input[type=submit] {
    font-size: 1.2em;
    background-color: #546a7b;
    color: #fef9ff;
    padding: 4px 8px;
}

input[type=submit]:hover {
    background-color: #f2eded;
    color: #546a7b;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    border: 2px solid #0d1f2d;
    border-radius: 3px;
    background-color: #fff;
    resize: none;
}
nav {
	border-top: thin #5b7d87 solid;
	border-bottom: thin #5b7d87 solid;
	padding-top: 12px;
	padding-bottom: 12px;
}
nav .btn {
	background-color: #5b7d87;
	color: #fef9ff; 
}
nav .btn:hover {
	font-weight: bold;
}
nav .btn:visited {
    color: black;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.jumbotron{
	background-color:PaleTurquoise;
	font: 400 16px/1.2 'Crimson Text',  serif;
}
.footer_text {
	font-size: 14px;
	margin: 4px 18px;
}



/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font: 700 54px/1.2 'Crimson Text', serif;
	margin: 0 0 20px;
	color: #000;
}

h2 {
	font-size: 48px;
	margin: 0 0 18px;
}

h3 {
	font-size: 40px;
	margin: 0 0 15px;
}

h4 {
	font-size: 20px;
	margin: 0 0 10px;
}

h5 {
	font-size: 18px;
	font-weight: 400;
	margin: 0 0 8px;
}

h6 {
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 5px;
}


/* ---------------------------------------------- /*
 * Menu
/* ---------------------------------------------- */

.menu_maintitle {
	font: 400 16px/1.2 'Crimson Text',  serif;
	font-size: 50px;
	text-align: center;
}

.menu_subtitle {
	font: 400 16px/1.2 'Crimson Text',  serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #a7a9ac;
	margin: 0;
	text-align: center;
	margin: 0 0 60px;
}

.menu {
	border-bottom: 1px dotted #DDD;
	padding: 0 0 10px;
	margin: 0 0 20px;
}

.menu_title {
	font-size: 18px;
	margin: 0;
}

.menu_details {
	font-size: 14px;
}

.menu_price {
	font-size: 16px;
	position: relative;
	text-align: right;
}
